<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Vue.js + TypeScript</title>
    <style>
        .done-true{
            color: gray;
            text-decoration: line-through;
        }
    </style>
</head>
<body>
    <div id="todoapp">
        <h1>Vue.js + TypeScript</h1>
        <p>Finished Task: {{getDoneCount}} / {{tasks.length}}</p>
        <button v-on="click: deleteDone">Delete Finished</button>
        <ul>
            <li v-repeat="task: tasks">
                <input type="checkbox" v-model="task.done" />
                <span class="done-{{task.done}}">{{$index}}:{{task.body}}</span>
                <a href="#" v-on="click: deleteTask($index)">[x]</a>
            </li>
        </ul>
        <form onsubmit="return false;" v-on="submit: addNew">
            <input type="text" v-model="newTaskBody" />
            <input type="submit" value="add" />
        </form>
    </div>    
    <script src="./bundle.js"></script>
</body>
</html>